.technology-container {
    width: 100px;
}
.technology-container img {
    max-width: 60px;
}
.my-links {
    box-shadow: inset 0 0 0 0 #54b3d6;
    color: #54b3d6;
    border-radius: 1rem;
    margin: 0 -0.25rem;
    padding: 0 0.25rem;
    transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.my-links:hover {
    box-shadow: inset 100px 0 0 0 #54b3d6;
    border-radius: 1rem;
    color: white !important;
}

.title {
    position: relative;
    color: #262626;
    padding: 5px 5px;
}

.title:before {
    background: #262626;
    color: white;
    content: "Frontend  Developer";
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 5px;
    -webkit-clip-path: polygon(0% 0%, 30% 0%, 30% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 30% 0%, 30% 100%, 0% 100%);
    animation: slide 10s 5s linear infinite;
}

@keyframes slide {
    50% {
        -webkit-clip-path: polygon(70% 0%, 100% 0%, 100% 100%, 70% 100%);
    }
}

.title-dark {
    position: relative;
    color: white;
    padding: 5px 5px;
}

.title-dark:before {
    background: #bdb5b5;
    color: rgb(0, 0, 0);
    content: "Frontend  Developer";
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 5px;
    -webkit-clip-path: polygon(0% 0%, 30% 0%, 30% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 30% 0%, 30% 100%, 0% 100%);
    animation: slide 10s 5s linear infinite;
}


@keyframes slide {
    50% {
        -webkit-clip-path: polygon(70% 0%, 100% 0%, 100% 100%, 70% 100%);
    }
}
